# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

##########################################
# My repository files
##########################################
# Don't upload any of the images
images/

# Don't upload the results
results/

# Don't upload the forlder with dummy code
pruebas/

# Don't upload the resources for my LaTeX document
LATEX/
