# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# My repository files
# Don't upload any of the images
images/

# Don't upload the results (explicity say which ones don't to upload)
results/classic_descriptors_split1

# Don't upload the forlder with pruebas
pruebas/